html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e13a3d;
    padding: 10px 30px;
    padding-block: 20px;
    color: white;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

body {
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #e13a3d;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.no-scroll {
    overflow: hidden;
}